.nossocantosp{
    display: flex;
    flex-direction: column; 
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.borderCanto{
    border-radius: 6px solid gray;
}
.images{
    margin: 0 auto;
}

h1{
    margin: 0 auto;
    width: 100%;
}
