.mapBorder{
    /* border: 6px solid gray; */
    /* border-radius: 0 0 25px 25px ; */
    padding: 0;
}
.mapview{
    text-align: center;
    margin: 0 auto;
    max-width: 60%;
    max-height: 60%;
    border-radius: 15;
}
